@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

header, h2{
  position: relative;
  align-items: center;
  background-color: #5361FF;
  color:#fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  margin: 50px auto;
}
.wrapper{
  width: 100%;
  padding-top: 5px;
  background-color: #5361FF;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #5361FF;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
  background: white;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  transition: all 0.3s ease;
  color: black;
}

form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: black;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #5361FF;
  border: 1px solid #fff;
  cursor: pointer;
}

form .button input:hover{
  background: #5361FF;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color:black;
}
.wrapper form .signup-link a{
  color: blue;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.error {
  width: 92%; 
  margin-bottom: 30px;
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}